* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accueil {
    display: flex;
    height: 100vH;
}


#hidden {
    left: -10%;
}

#shown {
    left: 0%;
}

.indexMain {

    width: 100%;
}

.category {
    background-color: pink;
    width: 60%;
    height: 50vH;
    margin: auto;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag {
    height: 10vH;
    background-color: aquamarine;
    width: 100%;
}

.taglist {
    height: 40vH;
    background-color: blue;
    width: 80%;
}


